 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/images/c4a1aceb233033f98ccbc036c39e0dc3d571a2e8b152708844c7061282538286d6ba02921be51a4361055143c9152b6ec98950d461b98af076f1be_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 363px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px 89px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/images/pattern.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 655px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 306px;
  margin: 47px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 40px 100px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 875px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 311px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 342px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1226px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 21px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 534px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-image-1 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("/images/1655994544885.jpg");
  background-position: 50% 50%;
  margin: 46px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 230px;
  margin: 34px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 534px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-image-2 {
  height: 257px;
  object-position: 50% 60.72%;
  width: 257px;
  background-image: url("/images/IMG_20190723_184551_560.jpg");
  background-position: 50% 50%;
  margin: 46px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 34px auto 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 534px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-3 .u-image-3 {
  height: 257px;
  object-position: 50% 46.55%;
  width: 257px;
  background-image: url("/images/indir.png");
  background-position: 50% 50%;
  margin: 46px auto 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 34px auto 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 568px;
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-3 .u-image-4 {
  height: 257px;
  object-position: 50% 37.76%;
  width: 257px;
  background-image: url("/images/WhatsAppImage2022-01-13at23.04.12.jpeg");
  background-position: 50% 50%;
  margin: 56px auto 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 52px auto 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 568px;
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-3 .u-image-5 {
  object-position: 50% 100%;
  height: 260px;
  width: 260px;
  background-image: url("/images/IMG-20200309-WA0000.jpg");
  background-position: 50% 50%;
  margin: 56px 48px 0 52px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 51px auto 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 568px;
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  object-position: 50% 100%;
  height: 257px;
  width: 257px;
  background-image: url("/images/Utku.jpg");
  background-position: 50% 50%;
  margin: 56px auto 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 51px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1032px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 440px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 440px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 440px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 468px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 468px;
  }

  .u-section-3 .u-image-5 {
    margin-left: 18px;
    margin-right: 15px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 468px;
  }

  .u-section-3 .u-image-6 {
    height: 233px;
    width: 233px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -21px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 448px;
  }

  .u-section-3 .u-image-1 {
    height: 187px;
    width: 187px;
  }

  .u-section-3 .u-text-2 {
    width: 220px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 448px;
  }

  .u-section-3 .u-image-2 {
    height: 187px;
    width: 187px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 448px;
  }

  .u-section-3 .u-image-3 {
    height: 187px;
    width: 187px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 522px;
  }

  .u-section-3 .u-image-4 {
    height: 187px;
    width: 187px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 522px;
  }

  .u-section-3 .u-image-5 {
    height: 187px;
    width: 187px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-6 {
    height: 160px;
    width: 160px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }
}